@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: hsl(272 100% 91.8%);
  --foreground: hsl(272 19.5% 5.6%);
  --card: hsl(272 100% 91.8%);
  --card-foreground: hsl(272 19.5% 5.6%);
  --popover: hsl(272 100% 91.8%);
  --popover-foreground: hsl(272 19.5% 5.6%);
  --primary: hsl(287 23.4% 7.4%);
  --primary-foreground: hsl(272 95.8% 91.3%);
  --secondary: hsl(287 52.2% 94.8%);
  --secondary-foreground: hsl(287 23.4% 7.4%);
  --muted: hsl(287 52.2% 94.8%);
  --muted-foreground: hsl(270, 3%, 13%);
  --accent: hsl(287 52.2% 94.8%);
  --accent-foreground: hsl(287 23.4% 7.4%);
  --destructive: hsl(341 70.3% 19.7%);
  --border: hsl(276 46.9% 82.7%);
  --input: hsl(276 46.9% 82.7%);
  --ring: hsl(276 7.4% 54.3%);
  --chart-1: hsl(204 71.5% 54.3%);
  --chart-2: hsl(310 82.1% 60.8%);
  --chart-3: hsl(56 82.1% 71.1%);
  --chart-4: hsl(22 82.1% 71.1%);
  --chart-5: hsl(229 68.4% 71.1%);
  --sidebar: hsl(272 95.8% 91.3%);
  --sidebar-foreground: hsl(272 19.5% 5.6%);
  --sidebar-primary: hsl(287 23.4% 7.4%);
  --sidebar-primary-foreground: hsl(272 95.8% 91.3%);
  --sidebar-accent: hsl(287 52.2% 94.8%);
  --sidebar-accent-foreground: hsl(287 23.4% 7.4%);
  --sidebar-border: hsl(276 46.9% 82.7%);
  --sidebar-ring: hsl(276 7.4% 54.3%);
}

.dark {
  --background: hsl(272 19.5% 5.6%);
  --foreground: hsl(272 95.8% 91.3%);
  --card: hsl(287 23.4% 7.4%);
  --card-foreground: hsl(272 95.8% 91.3%);
  --popover: hsl(287 23.4% 7.4%);
  --popover-foreground: hsl(272 95.8% 91.3%);
  --primary: hsl(276 46.9% 82.7%);
  --primary-foreground: hsl(287 23.4% 7.4%);
  --secondary: hsl(246 73.7% 5.8%);
  --secondary-foreground: hsl(272 95.8% 91.3%);
  --muted: hsl(246 73.7% 5.8%);
  --muted-foreground: hsl(276 7.4% 54.3%);
  --accent: hsl(246 73.7% 5.8%);
  --accent-foreground: hsl(272 95.8% 91.3%);
  --destructive: hsl(0 96.2% 9.5%);
  --border: hsl(268 18.1% 9.5%);
  --input: hsl(268 18.1% 5.8%);
  --ring: hsl(270, 3%, 13%);
  --chart-1: hsl(234 69% 55.5%);
  --chart-2: hsl(141 69% 55.5%);
  --chart-3: hsl(229 68.4% 71.1%);
  --chart-4: hsl(294 73.3% 47.5%);
  --chart-5: hsl(342 73.3% 36.9%);
  --sidebar: hsl(287 23.4% 7.4%);
  --sidebar-foreground: hsl(272 95.8% 91.3%);
  --sidebar-primary: hsl(234 69% 55.5%);
  --sidebar-primary-foreground: hsl(272 95.8% 91.3%);
  --sidebar-accent: hsl(246 73.7% 5.8%);
  --sidebar-accent-foreground: hsl(272 95.8% 91.3%);
  --sidebar-border: hsl(268 18.1% 9.5%);
  --sidebar-ring: hsl(270, 3%, 13%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
